$primary: rgb(2, 54, 2);
$bg: rgb(219, 217, 217);
* {
  padding: 0;
  margin: 0;
  transition: 500ms;
}
input {
  border: 0;
  outline: 0;
  &:focus,
  &:active {
    border: 0;
    outline: 0;
  }
}
img {
  width: 100%;
}
.input-container {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .input-field-container {
    position: relative;
    background-color: $bg;
    border-radius: 50px 0 0 50px;
    &.active {
      background-color: rgba(2, 54, 2, 0.1);
    }
    input {
      font-size: 14px;
      color: $primary;
      width: 30%;
      max-width: 16rem;
      min-width: 13rem;
      padding: 0.7rem 1rem 0.7rem 2rem;
      background: $bg;
      border-radius: 50px 50px 50px 50px;
      &.active {
        background-color: rgba(2, 54, 2, 0.2);
      }
    }
    img {
      position: absolute;
      height: 18px;
      width: 18px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .btn-container {
    background-color: $bg;
    border-radius: 0 50px 50px 0;
    padding-left: 5px;
    position: relative;
    &.active {
      background-color: rgba(2, 54, 2, 0.1);
    }
    button {
      background: $bg;
      cursor: pointer;
      outline: none;
      text-transform: capitalize;
      border: none;
      padding: 0.58rem 1rem 0.58rem 0.5rem;
      border-radius: 50px 50px 50px 50px;
      position: relative;
      border: 2px solid $bg;
      color: $primary;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 100px;
      position: relative;
      &.active {
        border: 2px solid $primary;
        background: rgb(247, 243, 243);
      }
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 65%;
        width: 1px;
        background-color: #999;
        transition: 250ms;
      }
      &.active::before {
        opacity: 0;
      }
      img {
        //   margin-top: 2px;
        width: 15px;
        height: 10px;
        position: absolute;
        right: 10px;
        top: 52%;
        transform: translateY(-50%);
      }
      //   &:hover,
      //   &:active {
      //     outline: none;
      //     border: none;
      //   }
    }
  }
  .menu {
    min-width: 100px;
    width: 10%;
    position: absolute;
    top: 130%;
    right: 10px;
    left: 57.5%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    &Item {
      min-height: 30px;
      display: flex;
      padding: 15px 5px 15px 5px;
      cursor: pointer;
      //   border-radius: 10px;
      transition: 500ms ease;
      &:hover {
        background-color: rgba(2, 54, 2, 0.1);
      }
      > div:not(.text-box) {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 15%;
        .img-container {
          width: 100%;
          max-height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 80%;
            height: 100%;
          }
        }
      }
      .text-box {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        padding-left: 5px;
        width: 85%;
        color: $primary;
        min-height: 100%;
        h5 {
          font-size: 14px;
          text-transform: capitalize;
          margin-bottom: 5px;
        }
        p {
          font-size: 11px;
        }
      }
    }
  }
}
